.rating-container {
  background-color: #ffc72c;
  padding: 30px;
  border-radius: 15px;
  text-wrap: wrap;
  text-align: center;
  max-width: 400px;
  user-select: none;
  cursor: default;
}

.rating-container h1 {
  font-size: 45px;
}
.rating-container p {
  font-size: 25px;
}

.rating-container p,
.rating-container h1 {
  user-select: none;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.swipe-card {
  animation: scaleIn 0.5s ease-in-out;
}
