@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');



* {
  font-family: "Baloo 2", serif !important;
}

.bg-red {
  background-color: #da291c !important;
}

.bg-yellow {
  background-color: #ffc72c !important;
}

.bg-black {
  background-color: #27251f !important;
}

/* ------ NAVBAR ------ */

.bg-red {
  background-color: #da291c !important;
}

@media (max-width: 768px) {
  .brand-responsive {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* ------ FOOTER ------ */

footer {
  background-color: #da291c !important;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
  width: 100vw !important;
}

.footer img {
  width: 70px;
  height: 60px;
}
