@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

* {
  font-family: "Baloo 2", serif !important;
}

.bg-red {
  background-color: #da291c !important;
}

.bg-yellow {
  background-color: #ffc72c !important;
}

.bg-black {
  background-color: #27251f !important;
}

/* ------ NAVBAR ------ */

.bg-red {
  background-color: #da291c !important;
}

@media (max-width: 768px) {
  .brand-responsive {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* ------ FOOTER ------ */

footer {
  background-color: #da291c !important;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
  width: 100vw !important;
}

.footer img {
  width: 70px;
  height: 60px;
}

.info-heading {
  animation: slideUp 0.5s ease-in-out, fadeIn 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.no-lunches-heading {
  animation: fadeIn 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

@keyframes swipeRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}

.swipe-left {
  animation: swipeLeft 0.5s forwards;
}

.swipe-right {
  animation: swipeRight 0.5s forwards;
}

.spinner-border {
  animation: spinner-border 0.5s linear infinite;
}


.lunch-choice{
  height: 100px !important;
  text-align: center;
  transition: .3s !important;
  width: 400px !important;
  
}

.lunch-choice:hover{
  transform: scale(110%);
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
